* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
}

.main {
  flex: 1 1 0%;
  min-height: 0;
  display: flex;
  gap: 20px;
}
.main aside {
  background-color: #1dbc20;
  min-width: 220px;
  max-width: 320px;
  order: -1;
}
.main article {
  flex: 1 1 0%;
  min-width: 0;
}
.header {
  background-color: #9b97ff;
}
.footer {
  background-color: #ff006d;
}